<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TfsUtils" type="TfsUtils.Common.Configuration.TfsUtilsConfigurationSection, TfsUtils.Common" />
  </configSections>
  <TfsUtils>
    <commands ServerUri="http://tfsserver/projectroot">
      <command Type="TfsUtils.Implementations.CommentsSearcher, TfsUtils.Implementations" Alias="comments-dpp">
        <properties Type="TfsUtils.Implementations.CommentsSearcherSettings, TfsUtils.Implementations">
          <ProjectPath>$/product1/branch1</ProjectPath>
          <DateFrom>2012-12-01T00:00:00</DateFrom>
        </properties>
      </command>
    </commands>
  </TfsUtils>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
